<div *ngIf="wishes.length == 0; else showItems">
  There are no wishes to display.
</div>

<ng-template #showItems>
  <ul class="wish-list" *ngIf="wishes.length > 0">
    <li *ngFor="let wish of wishes; index as ii">
      <div class="form-check">
        <label class="form-check-label"></label>
        <input
          type="checkbox"
          class="checkbox"
          [checked]="wish.isComplete"
          [attr.data-index]="ii"
          (change)="toggleItem(wish)"
        />
        {{ wish.wishText }}
      </div>
    </li>
  </ul>
</ng-template>
