<div class="container">
  <div *ngIf="items.length == 0; else showItems">
    There are no wishes to display.
  </div>

  <ng-template #showItems>
    <ul class="wish-list" *ngIf="items.length > 0">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label"></label>
          <input
            type="checkbox"
            class="checkbox"
            [checked]="item.isComplete"
            [attr.data-index]="ii"
            (change)="toggleItem(item)"
          />
          {{ item.wishText }}
        </div>
      </li>
    </ul>
  </ng-template>
</div>
